VITE_FIREBASE_API_KEY="ここにAPIキーを入れる"
VITE_FIREBASE_AUTH_DOMAIN="ここにAUTHドメインを入れる"
VITE_FIREBASE_DATABASE_URL="ここにデータベースURLを入れる"
VITE_FIREBASE_PROJECT_ID="ここにプロジェクトIDを入れる"
VITE_FIREBASE_STORAGE_BUCKET="ここにストレージバケットを入れる"
VITE_FIREBASE_MESSAGING_SENDER_ID="ここにセンダーIDを入れる"
VITE_FIREBASE_APP_ID="ここにApp IDを入れる"
